body {
  font-family: Arial, sans-serif;
  background-color: #131010;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;

  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 4px rgba(44, 43, 43, 0.9);
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: white;

}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #d83285;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 19px;
  justify-content: center;
  display: flex;
}

.btn:hover {
  background-color: #b30036;
}

#next-btn {
  display: none;
  margin-top: 20px;
  background-color: black;
  color: white;


}

#result {
  font-size: 25px;
  margin-top: 20px;

}